allure-behave==2.9.45
allure-python-commons==2.9.45
attrs==21.4.0
behave==1.2.6
iniconfig==1.1.1
numpy==1.22.4
packaging==21.3
parse==1.19.0
parse-type==0.6.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
six==1.16.0
toml==0.10.2
PyMySQL==1.0.2
mysql-connector-python==8.0.29
webdriver-manager==3.8.3
requests==2.28.0
pyscreenshot==3.0
pillow==9.1.1
selenium==4.4.3